*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*В майбутньому планується розробка для мобільних пристроїв */
@media only screen and (max-width: 500px){
    /* Загальні стилі для всіх елементів */
    body {
        background-color: #f0f0f0;
        color: #333;
    }
}


@media screen and (max-width: 600px){
    body{
        font-size: 16px;
    }
}

@media screen and (min-width: 601px){
    body{
        font-size: 12px;
    }
}


/*generaly and navigation top part web-page */

:root{
    --primary: white;
    --secondary: #2b3452;
}

body{
    background-color: #BE3455;
    color: white
}

header{
    background-color: #9BB7D4;
    border-bottom: solid #FF6F61;
}

header nav{
    display: flex;
    gap: 0.5em;
    justify-content: end;
    margin: 0 auto;
    max-width: 100em;
}

header nav a{
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #B55A30;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375em;
    padding: 1.25em;
    margin: 0.5em;
    text-align: center;
    border: solid black 0.1em;
}

header nav a:hover{
    opacity: 0.7;
}

header nav h1{
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

header nav a.active{
    display:none;
    background-color: #9BB7D4;
}

main{
    max-width: auto;

}

/* Add sampling places*/
.add_sampling_places{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #88B04B;
    border-radius: 20px;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1.5em;
    border: solid black 0.14em;

}

.add_sampling_places h1{
    margin-bottom: 2%;
    margin-top: 1%;
}

.add_sampling_places select, .add_sampling_places input{
    display:block;
    border-radius: 20px;
    border: solid black 0.5px;
    text-align: center;
    margin: 0 auto 3% auto;
    font-size: 2em;
}

.add_sampling_places input:hover, .add_sampling_places select:hover{
    color:black;
}

.add_sampling_places input[type="submit"]{
    font-size: 2em;
    display: block;
    padding: 1%;
    border-radius: 5px;
    border: outset black 0.2em;
    background-color: #B55A30;
    color:azure;
    margin-right: 5%;
}

.add_sampling_places input[name="name_place"]{
    width: 15em;
}

.add_sampling_places input[type="submit"]:active{
    border-style: inset;
}

.add_sampling_places input[type="submit"]:hover{
    color: black 0.5;
}

/* Add chemical index */


.add_chemical_indexes{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #88B04B;
    border-radius: 20px;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1.5em;
    border: solid black 0.14em;
    padding: 1% 0 1% 0;
}



.add_chemical_indexes h1{
    text-align: center;
    padding: 1%
}

.add_chemical_indexes select, input{
    display: block;
    text-align: center;
    font-size: 2em;
    border-radius: 20px;
}

.add_chemical_indexes select {
    display: block;
    text-align: center;
    border-radius: 20px;
    max-width: 80%;
    margin: 0 auto; /* Додайте цей стиль для вирівнювання по центру */
    font-size: 2em;
}

.add_chemical_indexes h1, input, select{
    margin: 1%
}

.add_chemical_indexes form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add_chemical_indexes input[type="submit"] {
    margin-left: 75%;
    border-radius: 5px;
    border: outset black 0.2em;
    height: 1.7em;
    background-color: #B55A30;
    color:azure;
    font-size: 2em;
    width: 20%;
}

.add_chemical_indexes input[type="submit"]:active{
    border-style: inset;
}

/*For search sampling places */

.search_sampling_places {
    font-size: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.search_sampling_places .edit-link {
    background-color: aliceblue;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px; /* Додайте відступи для зручності кліку */
    border: 1px solid #000000; /* Замість border: outset 20px; */
    border-radius: 5px; /* Збільшіть радіус закруглення */
    display: inline-block; /* Поставте посилання в рядок */
    margin-top: 5px; /* Додайте відступи вгору */
}

.search_sampling_places .edit-link:hover {
    background-color: #f0f0f0; /* Змініть фон при наведенні */
}

.search_sampling_places .search-criterian-sp{
    margin-top: 3%;
    border-radius: 5px;
    background-color: #88B04B;
    border: 2px solid black;
    padding: 0 1% 0.5% 1%;
    text-align: center;
}

.search_sampling_places .search-criterian-sp select{
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
}


.search_sampling_places .search-criterian-sp button{
    font-size: 0.7em;
    display: block;
    padding: 1%;
    border-radius: 5px;
    border: outset black 0.2em;
    background-color: #B55A30;
    color:azure;
    margin: 10% 0 0 75%;
}

.search_sampling_places .search-criterian-sp button:hover{
    background-color: #884526;
}

.search_sampling_places .search-criterian-sp button:active{
    border-style: inset;
}


.search_sampling_places div{
    margin-top: 10px;
}

/*greed part search sp*/

.result-search-sampling-place{
    max-width: 80%;
}

.result-search-sampling-place .header-result-sp {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Рівномірний розподіл між заголовком і кнопкою */
    width: 100%; /* Розширюємо контейнер на всю ширину */
    background-color: #00A170;
}

.result-search-sampling-place .header-result-sp p{
    margin-left: auto;
    margin-right: auto
}


  .result-search-sampling-place button {
     background-color: #B55A30;
     color: white;
     text-decoration: none;
     border-radius: 5px;
     padding: 5px 10px;
     border: outset 2px black;
     font-size: 20px;
     
  }
  
  .result-search-sampling-place button:hover {
    background-color: #924b2a;
  }

  .result-search-sampling-place button:active{
    border: inset 2px black;
  }


  .result-search-sampling-place .th-result-sp{
        display: grid;
        background-color: #557699;
        grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr 0.5fr; /* 9 колонок рівної ширини */
        gap: 20px; /* Відступи між елементами в сітці */
        align-items: center; /* Вирівнювання вмісту по вертикалі по центру */
        padding: 8px; /* Відступи всередині рядка */
        font-size:0.8em;
    }

    .result-search-sampling-place .tr-result-sp {
        display: grid;
        background-color: #9BB7D4;
        grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr 0.5fr; /* 9 колонок рівної ширини */
        gap: 20px; /* Відступи між елементами в сітці */
        align-items: center; /* Вирівнювання вмісту по вертикалі по центру */
        padding: 8px; /* Відступи всередині рядка */
        font-size:0.8em;
    }


/*Edit sampling places*/

.edit-sampling-place{
    display: flex;
    background-color: #88B04B;
    justify-content: center;
    width: 50%; /* Ширина контейнера */
    margin: 5% auto; /* Вирівнювання по центру */
    font-size: 16px;
    border: solid 2px black;
    border-radius: 10px;
}

.edit-sampling-place h2{
    white-space: nowrap;
    margin: 2% auto;
}

.edit-sampling-place select{
    white-space: nowrap;
    width: 50%;
    margin: 2% auto;
    font-size: 2em;
}

.edit-sampling-place input[type="submit"]{
    margin: 3% 75%;
    width: 30%;
    background-color: #884526;
    color: azure;
    border: outset 2px black;
}

.edit-sampling-place input[type="submit"]:hover{
    background-color: #6b371f;
}

.edit-sampling-place input[type="submit"]:active{
    border-style: inset;
}



/* For errors */

.errors_sp > input{
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.errors_sp > p{
    font-size: 1.2rem;
    text-align: center;
}

.errors_edit_sp {
    font-size: 1.2rem;
    display: block;
    color: #000000;
    background-color: azure;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
    font-size: 1.2em;
    margin-left: 0 auto;
}



.errors > p{
    display: block;
    font-size: 1.2rem;
    text-align: center;
}


/*For success */

.success{
    background-color: #00A170;
    font-size: 2em;
    max-width: 18em;
    border-radius: 10px;
}



